* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #191D32;
    color: #BA2C73;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 10vw;
    text-shadow: 0 2px #000;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2.5em;
    margin: 0.5em 0;
    color: #fff;
    font-size: 10vw;
    font-weight: bold;
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 60px;
    }

    p {
        margin: 0;
        font-size: 100px;
    }
}

.button-holder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    position: relative;
    min-width: 290px;
    padding: 10px;
    margin: 10px 20px;
    overflow: hidden;
    background-color: #BA2C73;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

button:not([disabled]):hover {
    box-shadow: 0 0 0 2px #fff;
}

button[disabled]::before {
    content: 'Можливо скоро буде';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    font-weight: normal;
    font-variant: small-caps;
    text-transform: lowercase;
}

address {
    margin-top: 20px;
}

a {
    color: #fff;
}
